<html<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint"

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div class="log-form" >
  <h2>Enter your university ID number</h2>
  <form action="handlelogin" method="post">
    <label for="ID"> Enter your ID</label>
    <input type="text" id="ID" name="ID" />
    <input type="submit" value="SEND" />
    <!--button type="submit" class="btn" type="warning">SEND!</button-->
  </form>
</div><!--end log form -->
</body>
</html>
